<nav id="tool-bar" class="uk-navbar">
	<span transition="fade" v-if="doingDownload">
		<i class="uk-icon-spinner uk-icon-spin toast-enter"></i>
		<i class="uk-icon-download toast-leave"></i>
	</span>
	<span transition="fade" v-if="doingUpload">
		<i class="uk-icon-spinner uk-icon-spin toast-enter"></i>
		<i class="uk-icon-cloud-upload toast-leave"></i>
	</span>
	<span transition="fade" v-if="doingClear">
		<i class="uk-icon-spinner uk-icon-spin toast-enter"></i>
		<i class="uk-icon-eraser toast-leave"></i>
	</span>
	<span class="uk-navbar-brand">
    <span class="keiser-font"><span class="keiser-k-padding">K</span>EISER®</span>
	</span>
	<ul class="uk-navbar-nav" v-show="!eChipStatus.permissionGranted">
		<li><a href="#find" v-on:click="getPermission()"><i class="uk-icon-search"></i> Find eChip Reader</a></li>
	</ul>
	<ul class="uk-navbar-nav" v-show="eChipStatus.keyConnected">
		<li>
			<a href="#echip-modal" class="echip-status-tab uk-navbar-nav-subtitle" data-uk-modal="{center:true}">
        eChip
        <template v-if="eChipStatus.keyAction"><i class="uk-icon-spinner uk-icon-spin"></i> </template>
        <template v-if="!eChipStatus.keyAction && eChipKeyState.read && eChipKeyState.empty"><div class="uk-badge uk-badge-notification uk-badge-warning">E</div></template>
        <template v-if="!eChipStatus.keyAction && eChipKeyState.read && !eChipKeyState.empty"><div class="uk-badge uk-badge-notification uk-badge-success">D</div></template>
        <div>
        <template v-if="eChipStatus.keyAction == ''">Connected</template>
        <template v-if="eChipStatus.keyAction == 'get'">Reading</template>
        <template v-if="eChipStatus.keyAction == 'set'">Writing</template>
        <template v-if="eChipStatus.keyAction == 'clear'">Erasing</template>
        </div>
      </a>
		</li>
		<li v-show="uploadReady"><a href="#key-upload" class="uk-navbar-nav-subtitle" v-on:click="keyUpload()"><i class="uk-icon-cloud-upload"></i> Upload<div class="uk-text-center">to Cloud</div></a></li>
		<li v-show="downloadReady"><a href="#key-download" class="uk-navbar-nav-subtitle" v-on:click="keyDownload()"><i class="uk-icon-download"></i> Download<div class="uk-text-center">to eChip</div></a></li>
		<li><a href="#confirm-erase-modal" class="uk-navbar-nav-subtitle" data-uk-modal="{center:true}"><i class="uk-icon-eraser"></i> Erase<div class="uk-text-center">eChip</div></a></li>
	</ul>
	<div class="uk-navbar-flip">
		<ul class="uk-navbar-nav">
			<li v-if="eChipStatus.error">
				<div class="uk-alert uk-alert-danger"><i class="uk-icon-warning"></i> {% eChipStatus.error %}</div>
			</li>
			<li>
				<a href="#home" class="uk-navbar-nav-subtitle uk-text-center" v-on:click="goHome()">
					<i class="uk-icon-home uk-icon-small"></i>
					<div>Home Page</div>
				</a>
			</li>
			<li>
				<a href="#settings-modal" class="uk-navbar-nav-subtitle uk-text-center" data-uk-modal="{center:true}">
					<i class="uk-icon-gear uk-icon-small"></i>
					<div>Settings</div>
				</a>
			</li>
		</ul>
	</div>
	<div class="uk-navbar-content uk-navbar-center uk-text-large" v-show="eChipStatus.permissionGranted && !eChipStatus.keyConnected">
		<span v-show="!eChipStatus.deviceConnected" class="uk-text-danger"><i class="uk-icon-warning"></i> No eChip Reader Detected</span>
		<span v-show="eChipStatus.deviceConnected">Waiting for eChip</span>
	</div>
</nav>
